.chart {
  display: block;
  clear: both;
  min-width: 310px;
  height: 400px;
  max-width: 800px;
  padding-top: 2px;
  margin: 0 auto;
}

.card-block-title {
  float: left;
}

.card-block-selection {
  float: right;
}
