.home {
  color: #4C5E70;
}

.separator {
  color: #4C5E70;
  padding-top: 10px;
}

.card-block-left {
  display: table;
  float:left;
  width: 100px;
}

.card-block-left-content {
  display: table-cell;
  vertical-align: middle;
}

.card-block-right {
  overflow:hidden;
  display: block;
  margin-left: 50px;
}

.small-chart {
  min-width: 100px;
  height: 100px;
  margin: 0 auto;
}
