$navbar-dark-color:                 #3D4F60 !default;
$navbar-dark-hover-color:           #3D4F60 !default;
$navbar-dark-active-color:          #3D4F60 !default;
$navbar-dark-disabled-color:        #3D4F60 !default;

$navbar-light-color:                 #4C5E70 !default;
$navbar-light-hover-color:           #3D4F60 !default;
$navbar-light-active-color:          #4C5E70 !default;
$navbar-light-disabled-color:        #4C5E70 !default;

$nav-link-hover-bg:                         #3D4F60 !default;
$nav-disabled-link-color:                   #3D4F60 !default;
$nav-disabled-link-hover-color:             #3D4F60 !default;

//  TOP NAV
$topnav-height: 70px;
$topnav-height-mobile: 50px;
$topnav-text-color: #3D4F60;
$topnav-background-color: #D6DDE4;
$topnav-desktop-logo-color: #354556;
$navbar-padding-horizontal: 0 !default;
$navbar-padding-vertical:   0 !default;


//  SIDEBAR
$sidebar-text-color: white;
$sidebar-color: #4C5E70;
$sidebar-width: 230px;

$menu-selected-color: #3D4F60;
$menu-hover-color: #2DC0E8;
